export LANGSMITH_TRACING = ""
export LANGSMITH_ENDPOINT = ""
export LANGSMITH_API_KEY = ""
export LANGSMITH_PROJECT = ""
export OPENAI_API_KEY = ""

export DB_URL = ""

export airbyte_org_id = ""
export airbyte_client_id = ""
export airbyte_client_secret = ""
export airbyte_connector_id = ""
